<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">アカウント削除</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>アカウント削除をすると、以下の情報が削除されます</h2>
        <ul>
          <li>ユーザー情報</li>
          <li>依頼したレビュー情報</li>
          <li>依頼されたレビュー情報</li>
        </ul>
        <%= link_to "削除する", profile_path, data: { turbo_method: :delete }, class: "btn btn-danger" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
